* {
    padding: 0;
    margin: 0;
    font-family: 'Century', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    text-decoration: none;
    text-align: center;
}

body {
    background-color: #111; /* Fondo negro */
}

.titulo {
    padding: 40px;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    list-style-type: none;
    background-color: #4FC3F7; /* Azul claro que combina con negro y marrón */
}

nav li {
    display: flex;
    align-items: center;
}

nav a {
    padding: 20px;
    width: auto;
    color: #222;
    font-weight: bold;
}

nav ul a:hover {
    background-color: #0288D1; /* Azul más oscuro para hover */
    color: white;
}

.contenido {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.contenido .articulo {
    width: 70%;
    margin: auto;
}

.contenido .articulo div {
    width: 90%;
    padding: 15px;
    background-color: #222; 
    margin-bottom: 15px;
    border-radius: 8px;
    color: #fff;
}

.contenido .secundario {
    width: 30%;
    padding: 15px;
    background-color: #FF7043;
    margin-left: 20px;
    height: 600px;
    border-radius: 8px;
    color: white;
}

.piedepagina {
    background-color: #795548; 
    margin-top: 100px;
    padding: 40px 20px;
}

.piedepagina p {
    color: white;
    font-size: 16px;
    line-height: 1.5;}